@model List<DGW_LP.Models.VideoVote>

<link type="text/css" rel="stylesheet" href="~/Content/simplePagination.css" />

<span style="display:none" id="total">@ViewBag.Total</span>

<div id="thele" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullpage-bot">
    <div class="container">
        <h1 class="tl_h1">
            DANH SÁCH BÀI DỰ THI
        </h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-Search" type="button" onclick="SearchVideo()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                    <input id="searchField" type="search" class="search-field form-control" placeholder="Tên clip, tên tác giả">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="pagination">

                </div>
            </div>
        
        </div>
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <ul class="week">
                   @*<li><a href="/binhchon?t=1">Tuần 1</a></li>*@
                   <li><a href="/binhchon?t=2">Tuần 2</a></li>
                   <li><a href="/binhchon?t=3">Tuần 3</a></li>
                   <li><a href="/binhchon?t=4">Tuần 4</a></li>
                   <li><a href="/binhchon?t=5">Tuần 5</a></li>
                   <li><a href="/binhchon?t=6">Tuần 6</a></li>
               </ul>
           </div>
       </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container my-container">
                @{int ind = 1;}
                @foreach (var vid in Model)
                {
                    <div id="ind_@ind" data-title="@vid.Title" data-author="@vid.Author" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mayBeHidden">
                      
                            <div class="clip-item">
                                <div class="clip-thumb">
                                    <a class="go-review" href="/watch/@vid.Id">
                                        <img style="width:100%;height:100%;" src="~/ClipThumb/@vid.ThumbImg" />
                                    </a>
                                  
                                </div>
                                <div class="clip-title">
                                    <span class="short-name" title="Video of a giant title thumb description">@vid.Title</span>
                                    @if (((List<int>)ViewBag.VotedVideoId).Contains(vid.Id))
                                    {
                                        <span id="@ind" title="Bạn đã bình chọn video này" class="heart voted">@vid.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                    }
                                    else
                                    {
                                        <span id="@ind" title="Bình chọn video này" class="heart" onclick="VoteVideo(@vid.Id, this)">@vid.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                    }
                                    
                                     @*@if (Request.IsAuthenticated)
                                    {

                                        if (((List<int>)ViewBag.VotedVideoId).Contains(vid.Id))
                                        {
                                            <span id="@ind" title="Bạn đã bình chọn video này" class="heart voted" onclick="CancelVote(@vid.Id, this)">@vid.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                        }
                                        else
                                        {
                                            <span id="@ind" title="Bình chọn video này" class="heart" onclick="VoteVideo(@vid.Id, this)">@vid.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                        }
                                    }
                                    else
                                    {
                                        <span id="@ind" title="Bạn cần đăng nhập để bình chọn" class="heart">@vid.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                    }*@


                                </div>
                                <div class="info">
                                    <span class="author">@vid.Author</span>
                                    @*<span class="author">@vid.tmpDate.ToString("dd/MM/yyyy hh:mm")</span>*@
                                </div>
                            </div>
              

                    </div>
                    ind++;
                }
                
            </div>
        </div>
        




     </div>



</div>


<script type="text/javascript" defer src="~/Scripts/js.cookie.js"></script>

<script type="text/javascript" defer src="~/Scripts/jquery.simplePagination.js"></script>
<script type="text/javascript" defer src="~/Scripts/js/binhchon.js"></script>
