@using DGW_LP.Models
@using Microsoft.AspNet.Identity;
@model DGW_LP.Models.VideoReview

<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>

<div id="thele" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullpage-bot">

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg padding-top" role="document">
        <div class="modal-content trans-modal">
            <div class="modal-body trans-modal">

                <div id="fake-btn" style="display:none; height:30px; margin-top:20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a style="float:left; color:#fff; text-decoration:underline" href="/watch/@ViewBag.Prev">Video trước</a>
                    <a style="float:right; color:#fff;text-decoration:underline" href="/watch/@ViewBag.Next">Video trước</a>
                </div>
                <div class="laptop-bg" style="position:relative">
                    <div class="prevBtn">
                        <a href="/watch/@ViewBag.Prev"><img style="height:100%; width:100%; border-radius:50%" src="~/Imgs/prevbtn.png" /></a>
                    </div>
                    <div class="nextBtn">
                        <a href="/watch/@ViewBag.Next"><img style="height:100%; width:100%; border-radius:50%" src="~/Imgs/nextbtn.png" /></a>
                    </div>


                    <div class="clip-content">

                        @*<video id="my-video" class="video-js" controls preload="auto" width="580" height="326"
                               poster="/ClipThumb/@Model.Thumb" data-setup="{}">
                            <source src="~/Clips/@Model.Src" type='video/mp4'>
                            <source src="~/Clips/@Model.Src.Replace(".mp4", ".webm")" type='video/webm'>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>*@

                        <video width="320" height="240" controls poster="/ClipThumb/@Model.Thumb">
                            <source src="~/Clips/@Model.Src" type='video/mp4'>
                            <source src="~/Clips/@Model.Src.Replace(".mp4", ".webm")" type='video/webm'>
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div id="fake-laptop-bg">
                    @*<video id="my-video" class="video-js" controls preload="auto" 
                           poster="/ClipThumb/@Model.Thumb" data-setup="{}">
                        <source src="~/Clips/@Model.Src" type='video/mp4'>
                        <source src="~/Clips/@Model.Src.Replace(".mp4", ".webm")" type='video/webm'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>*@

                    <video controls poster="/ClipThumb/@Model.Thumb">
                        <source src="~/Clips/@Model.Src" type="video/mp4">
                        <source src="~/Clips/@Model.Src.Replace(".mp4", ".webm")" type='video/webm'>
                        Your browser does not support the video tag.
                    </video>
                </div>


                <div class="row">
                    <div class="rv-container">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="clip-name">@Model.Title</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="rv-author">@Model.Author</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hearts-text">

                            @if (Request.IsAuthenticated)
                            {
                                if (((List<int>)ViewBag.VotedVideoId).Contains(Model.Id))
                                {
                                    <span id="unique" title="Bạn đã bình chọn video này" class="heart-noabs voted" onclick="CancelVote(@Model.Id, this)">@Model.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                    <script>
                                        hasVoted = true;
                                    </script>
                                }
                                else
                                {
                                    <span id="unique" title="Bình chọn video này" class="heart-noabs" onclick="VoteVideo(@Model.Id, this)">@Model.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                                    <script>
                                        hasVoted = false;
                                    </script>
                                }


                            }
                            else
                            {
                                <span id="unique" title="Bạn cần đăng nhập để bình chọn" class="heart-noabs">@Model.Vote <i class="fa fa-lg fa-heart" aria-hidden="true"></i></span>
                            }


                           



                            <span class="share" onclick="fbshareCurrentPage()"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share</span>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                            <div class="rv-desc">
                                <div class="desc-content">
                                    @Model.Description
                                </div>
                            </div>
                            <div id="fake-rv-desc">
                                @Model.Description
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-title">BÌNH LUẬN</div>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="comment-input-block">
                                    <div class="avatar">
                                        <img style="height:100%;width:100%" src="@MyHelper.GetSocialAvatar()" />
                                    </div>
                                    <div class="comment-input">
                                        <form action="/Home/SubmitComment" method="post">
                                            <div class="input-group">

                                                <input name="UserId" value="@User.Identity.GetUserId()" style="display:none !important" />
                                                <input name="VideoId" value="@Model.Id" style="display:none !important" />
                                                <input name="Content" type="text" class="form-control cm-inp" maxlength="500" placeholder="Viết bình luận..." />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-send" type="submit">Gửi</button>
                                                </span>


                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                      

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-container">
                                <div class="comment-area">
                                    <div id="comment-list">
                                        @if (!Model.Commenters.Any())
                                        {
                                            <p style="text-align:center">Chưa có bình luận nào</p>
                                        }

                                        @foreach (var c in Model.Commenters)
                                        {
                                            <div class="comment-item">
                                                <div class="avatar">
                                                    <img style="height:100%;width:100%" src="@c.Avatar" />
                                                </div>
                                                <div class="comment-content">
                                                    <label>@c.Name</label>
                                                    <div>@c.Content</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                   
                                    @if (Model.FinalComment == false)
                                    {
                                        <div>
                                            <button onclick="LoadMoreComment(this, @Model.Id)" type="button" class="btn btn-block btn-primary">Xem thêm các bình luận khác</button>
                                        </div>
                                    }
                                   
                       
                                </div>
                            </div>
                            
                        </div>



                    </div>
                   
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" defer src="~/Scripts/js/review.js"></script>
<style>
    .my-video-dimensions{
    width:100% !important;
}
</style>